body {
  background-color: #a7c4bb;
  color: #302c29;
  font-family: "Droid Sans", sans-serif;
  font-size: 0.85em;
  text-shadow: 1px 1px 0px white; }

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 0px #466964;
  font-family: "Droid Serif", serif;
  color: white; }

a {
  -webkit-transition: all 0.1s ease-in 0s;
  -moz-transition: all 0.15s ease-in 0s;
  text-decoration: none; }

header, section, footer {
  position: relative;
  margin: 0 auto;
  width: 940px;
  padding: 10px; }

header h1 {
  font-family: "Calligraffitti", serif;
  font-size: 3em; }
  header h1 a {
    margin: 0 0 0 110px;
    color: white;
    text-decoration: none; }
    header h1 a img {
      position: absolute;
      left: 0px;
      margin: -30px 0 0 0;
      z-index: 0; }
    header h1 a:hover {
      color: #466964;
      text-shadow: 1px 1px 0px white; }
header nav {
  position: absolute;
  right: 0px;
  top: 30px; }
  header nav li {
    list-style-type: none;
    display: inline;
    padding: 0 5px; }
    header nav li a {
      text-decoration: none;
      padding: 4px 8px;
      border-radius: 5px;
      color: white;
      text-shadow: 1px 1px 0px #466964; }
      header nav li a:hover {
        background-color: #466964; }
header input[type=text] {
  border: 1px solid #466964;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  font: italic 16px Georgia;
  padding: 1em;
  width: 300px;
  margin-left: 303px;
  line-height: 20px; }
header input[type=image] {
  background-image: -webkit-linear-gradient(top, #466964 0%, #1e2b2b 100%);
  background-image: -moz-linear-gradient(top, #466964 0%, #1e2b2b 100%);
  padding: 15px 15px;
  margin: 0 0 -21px -5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }
header div.searchResult {
  display: none;
  z-index: 1;
  position: absolute;
  left: 314px;
  background-color: white;
  width: 313px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #466964;
  margin: auto; }
  header div.searchResult span {
    font-weight: bold; }
  header div.searchResult p {
    font-size: 0.8em; }
  header div.searchResult a {
    text-decoration: none;
    color: #466964; }
    header div.searchResult a:hover {
      text-decoration: underline; }

section {
  line-height: 20px;
  min-height: 370px; }
  section article h3 {
    background-color: #466964;
    display: inline;
    padding: 3px 15px;
    border-radius: 5px; }
    section article h3 a {
      color: white; }
      section article h3 a:hover {
        color: #a7c4bb; }

footer {
  height: 60px;
  border-top: 1px solid #466964; }

/*****          Form new note         *****/
form#new_note input[type=text], form#new_note textarea, form.edit_note input[type=text], form.edit_note textarea {
  border: 1px solid #466964;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  font: italic 16px Georgia;
  padding: 1em;
  padding: 0.5em;
  display: block;
  width: 300px;
  margin-bottom: 20px; }
form#new_note textarea, form.edit_note textarea {
  height: 200px; }
form#new_note div.field_with_errors input, form#new_note div.field_with_errors textarea, form.edit_note div.field_with_errors input, form.edit_note div.field_with_errors textarea {
  background-color: #ffc8c8; }
form#new_note span, form.edit_note span {
  color: red; }

div.links {
  margin: 40px 0 0 0; }
  div.links a {
    color: #466964;
    text-decoration: underline;
    margin-right: 15px; }
    div.links a:hover {
      color: #302c29; }

p.notice {
  position: relative;
  color: green;
  padding: 10px;
  background-color: #C7EBC9;
  border: 1px solid green;
  border-radius: 5px; }
  p.notice img {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer; }
